In [1]:
import sklearn.model_selection
import pandas as pd
import numpy as np
import math

from hw3_traitors import *

blotter = pd.read_csv('blotter.csv')
print(blotter)

      trade_id     date asset   trip action type     price     status
0            1   1/3/20   IVV  ENTER    BUY  LMT  323.0600  SUBMITTED
1            1   1/3/20   IVV  ENTER    BUY  LMT  323.0600     FILLED
2            1   1/3/20   IVV   EXIT   SELL  LMT  326.2906  SUBMITTED
3            1   1/8/20   IVV   EXIT   SELL  LMT  326.2906     FILLED
4            2   1/6/20   IVV  ENTER    BUY  LMT  320.5700  SUBMITTED
...        ...      ...   ...    ...    ...  ...       ...        ...
2606       810  3/22/23   IVV  ENTER    BUY  LMT  398.2100  SUBMITTED
2607       810  3/22/23   IVV  ENTER    BUY  LMT  398.2100     FILLED
2608       810  3/22/23   IVV   EXIT   SELL  LMT  402.1921  SUBMITTED
2609       810  3/23/23   IVV   EXIT   SELL  LMT  402.1921       LIVE
2610       811  3/23/23   IVV  ENTER    BUY  LMT  391.5400       LIVE

[2611 rows x 8 columns]

In [2]:
ledger = blotter_to_ledger(blotter)
print(ledger)

/Users/benclayman/Documents/benjamin-clayman-533/HW3/hw3_traitors.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  blotter['date'] = pd.to_datetime(blotter['date'])

    trade_id asset   dt_enter    dt_exit success    n       rtn
0          1   IVV 2020-01-03 2020-01-08       1    6  0.001658
1          2   IVV 2020-01-06 2020-01-08       0    3  0.000000
2          3   IVV 2020-01-07 2020-01-09       0    3  0.000000
3          4   IVV 2020-01-08 2020-01-10       0    3  0.000000
4          5   IVV 2020-01-09 2020-01-13       0    5  0.000000
..       ...   ...        ...        ...     ...  ...       ...
806      807   IVV 2023-03-17 2023-03-21       1    5  0.001990
807      808   IVV 2023-03-20 2023-03-22       0    3  0.000000
808      809   IVV 2023-03-21        NaT     NaN  NaN       NaN
809      810   IVV 2023-03-22        NaT     NaN  NaN       NaN
810      811   IVV 2023-03-23        NaT     NaN  NaN       NaN

[811 rows x 7 columns]

In [3]:
# build your set of features here.
# merge them by date to add to this dataframe.
features = pd.read_csv('daily-treasury-rates.csv')
features['Date'] = pd.to_datetime(features['Date'])

vix = pd.read_csv('^VIX.csv')[['Date', 'Open']]
vix['Date'] = pd.to_datetime(vix['Date'])

features = features.merge(vix, on='Date')
features.head(10)

/var/folders/pp/nyzsgs116bd833r1yw537x5w0000gn/T/ipykernel_56532/4093259442.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  features['Date'] = pd.to_datetime(features['Date'])

,Date,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr,Open
0,2023-03-29,4.34,4.50,4.80,4.91,4.92,4.59,4.08,3.87,3.67,3.62,3.57,3.91,3.78,19.389999
1,2023-03-28,4.24,4.39,4.80,4.86,4.90,4.55,4.02,3.84,3.63,3.60,3.55,3.90,3.77,20.530001
2,2023-03-27,4.22,4.47,4.91,4.90,4.86,4.51,3.94,3.79,3.59,3.57,3.53,3.90,3.77,22.049999
3,2023-03-24,4.28,4.48,4.74,4.78,4.76,4.32,3.76,3.58,3.41,3.40,3.38,3.77,3.64,22.110001
4,2023-03-23,4.26,4.48,4.73,4.84,4.80,4.38,3.76,3.57,3.39,3.39,3.38,3.78,3.66,21.540001
5,2023-03-22,4.16,4.56,4.79,4.91,4.95,4.56,3.96,3.76,3.54,3.53,3.48,3.83,3.68,21.799999
6,2023-03-21,4.07,4.50,4.78,4.89,4.96,4.68,4.17,3.98,3.73,3.68,3.59,3.90,3.73,24.160000
7,2023-03-20,4.34,4.56,4.81,4.84,4.80,4.34,3.92,3.77,3.56,3.55,3.47,3.83,3.65,27.770000
8,2023-03-17,4.31,4.51,4.52,4.79,4.71,4.26,3.81,3.68,3.44,3.45,3.39,3.76,3.60,22.920000
9,2023-03-16,4.22,4.66,4.74,4.92,4.94,4.49,4.14,3.99,3.72,3.67,3.56,3.87,3.71,26.190001

In [14]:
import numpy as np
from sklearn.linear_model import Perceptron
from sklearn.preprocessing import StandardScaler

# Make a training set and let's try it out on two upcoming trades.
# Choose a subset of data:
X = features.drop('Date', axis=1).head(20)
x_test = features.drop('Date', axis=1).iloc[[20, 21]]
y = np.asarray(ledger.success.head(20), dtype="|S6")

print(X)
print(x_test)
print(y)

    1 Mo  2 Mo  3 Mo  4 Mo  6 Mo  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  10 Yr  20 Yr
0   4.34  4.50  4.80  4.91  4.92  4.59  4.08  3.87  3.67  3.62   3.57   3.91  \
1   4.24  4.39  4.80  4.86  4.90  4.55  4.02  3.84  3.63  3.60   3.55   3.90
2   4.22  4.47  4.91  4.90  4.86  4.51  3.94  3.79  3.59  3.57   3.53   3.90
3   4.28  4.48  4.74  4.78  4.76  4.32  3.76  3.58  3.41  3.40   3.38   3.77
4   4.26  4.48  4.73  4.84  4.80  4.38  3.76  3.57  3.39  3.39   3.38   3.78
5   4.16  4.56  4.79  4.91  4.95  4.56  3.96  3.76  3.54  3.53   3.48   3.83
6   4.07  4.50  4.78  4.89  4.96  4.68  4.17  3.98  3.73  3.68   3.59   3.90
7   4.34  4.56  4.81  4.84  4.80  4.34  3.92  3.77  3.56  3.55   3.47   3.83
8   4.31  4.51  4.52  4.79  4.71  4.26  3.81  3.68  3.44  3.45   3.39   3.76
9   4.22  4.66  4.74  4.92  4.94  4.49  4.14  3.99  3.72  3.67   3.56   3.87
10  4.23  4.56  4.75  4.85  4.73  4.19  3.93  3.83  3.59  3.57   3.51   3.82
11  4.47  4.77  4.88  4.95  4.93  4.45  4.20  4.05  3.78  3.74   3.64   3.91
12  4.62  4.81  4.87  4.87  4.81  4.30  4.03  3.88  3.68  3.65   3.55   3.85
13  4.81  4.91  5.01  5.08  5.17  4.90  4.60  4.31  3.96  3.86   3.70   3.90
14  4.83  4.96  5.05  5.19  5.32  5.18  4.90  4.56  4.22  4.10   3.93   4.09
15  4.77  4.88  5.06  5.21  5.34  5.25  5.05  4.71  4.34  4.19   3.98   4.11
16  4.80  4.88  5.04  5.12  5.32  5.22  5.00  4.66  4.31  4.17   3.97   4.11
17  4.75  4.79  4.93  5.02  5.22  5.05  4.89  4.61  4.27  4.16   3.98   4.14
18  4.75  4.79  4.91  5.01  5.18  5.03  4.86  4.60  4.26  4.15   3.97   4.12
19  4.75  4.80  4.91  5.02  5.18  5.04  4.89  4.63  4.32  4.24   4.08   4.24

    30 Yr       Open
0    3.78  19.389999
1    3.77  20.530001
2    3.77  22.049999
3    3.64  22.110001
4    3.66  21.540001
5    3.68  21.799999
6    3.73  24.160000
7    3.65  27.770000
8    3.60  22.920000
9    3.71  26.190001
10   3.70  23.209999
11   3.77  26.850000
12   3.70  24.049999
13   3.70  23.340000
14   3.88  19.330000
15   3.88  19.709999
16   3.88  18.639999
17   3.92  19.049999
18   3.90  19.760000
19   4.03  21.410000
    1 Mo  2 Mo  3 Mo  4 Mo  6 Mo  1 Yr  2 Yr  3 Yr  5 Yr  7 Yr  10 Yr  20 Yr
20  4.67  4.82  4.90  5.02  5.20  5.06  4.89  4.61  4.27  4.17   4.01   4.17  \
21  4.65  4.81  4.88  5.00  5.17  5.02  4.81  4.51  4.18  4.07   3.92   4.10

    30 Yr       Open
20   3.97  20.389999
21   3.93  21.299999
[b'1' b'0' b'0' b'0' b'0' b'0' b'0' b'0' b'0' b'0' b'0' b'0' b'-1' b'-1'
 b'-1' b'-1' b'0' b'1' b'1' b'1']

In [15]:
sc = StandardScaler()

sc.fit(X)
X_std = sc.transform(X)
x_test_std = sc.transform(x_test)

print(X_std)

[[-0.46897463 -0.9298208  -0.39682656 -0.31145449 -0.3416057  -0.21722355
  -0.4751554  -0.54707139 -0.45550724 -0.50698712 -0.39819284 -0.19354466
   0.11326837 -1.08358718]
 [-0.85655698 -1.55730723 -0.39682656 -0.72126302 -0.43920732 -0.33385365
  -0.60744925 -0.62394325 -0.57657229 -0.57715834 -0.48619126 -0.26522786
   0.02265367 -0.64249052]
 [-0.93407345 -1.10095347  0.45076415 -0.39341619 -0.63441058 -0.45048375
  -0.78384105 -0.75206302 -0.69763734 -0.68241518 -0.57418968 -0.26522786
   0.02265367 -0.05436344]
 [-0.70152404 -1.04390924 -0.85914876 -1.37695667 -1.12241871 -1.00447671
  -1.18072259 -1.29016603 -1.24243006 -1.27887061 -1.23417781 -1.19710955
  -1.15533739 -0.0311471 ]
 [-0.77904051 -1.04390924 -0.93620246 -0.88518643 -0.92721546 -0.82953156
  -1.18072259 -1.31578998 -1.30296258 -1.31395623 -1.23417781 -1.12542634
  -0.97410799 -0.25169504]
 [-1.16662285 -0.58755548 -0.47388026 -0.31145449 -0.19520325 -0.30469613
  -0.7397431  -0.82893488 -0.84896865 -0.82275764 -0.79418572 -0.76701031
  -0.7928786  -0.151095  ]
 [-1.51544696 -0.9298208  -0.55093396 -0.4753779  -0.14640244  0.04519416
  -0.27671463 -0.26520791 -0.27390967 -0.29647343 -0.31019442 -0.26522786
  -0.33980511  0.76205126]
 [-0.46897463 -0.58755548 -0.31977286 -0.88518643 -0.92721546 -0.94616166
  -0.82793899 -0.80331092 -0.78843613 -0.75258641 -0.83818493 -0.76701031
  -1.06472269  2.1588549 ]
 [-0.58524934 -0.87277658 -2.55433016 -1.29499496 -1.36642278 -1.17942185
  -1.07047771 -1.0339265  -1.15163127 -1.10344255 -1.1901786  -1.26879275
  -1.51779617  0.28226275]
 [-0.93407345 -0.01711327 -0.85914876 -0.22949278 -0.24400407 -0.5087988
  -0.34286155 -0.23958396 -0.30417593 -0.33155905 -0.44219205 -0.48027748
  -0.52103451  1.54751187]
 [-0.89531521 -0.58755548 -0.78209506 -0.80322472 -1.26882115 -1.38352452
  -0.80589002 -0.64956721 -0.69763734 -0.68241518 -0.66218809 -0.83869352
  -0.6116492   0.39447097]
 [ 0.03488241  0.61037316  0.21960305  0.01639234 -0.29280488 -0.62542889
  -0.21056771 -0.08584024 -0.12257836 -0.08595975 -0.09019838 -0.19354466
   0.02265367  1.80288278]
 [ 0.61625592  0.83855005  0.14254935 -0.63930131 -0.87841465 -1.06279175
  -0.58540027 -0.52144744 -0.42524098 -0.40173028 -0.48619126 -0.6236439
  -0.6116492   0.71948899]
 [ 1.35266238  1.40899226  1.22130115  1.08189453  0.87841465  0.68665969
   0.67139128  0.58038253  0.42221436  0.33506761  0.17379688 -0.26522786
  -0.6116492   0.44477176]
 [ 1.43017884  1.69421336  1.52951595  1.9834733   1.61042685  1.50307037
   1.33286051  1.22098136  1.20913717  1.17712234  1.18577868  1.09675306
   1.01941534 -1.10680237]
 [ 1.19762944  1.2378596   1.60656965  2.14739671  1.70802848  1.70717304
   1.66359513  1.60534065  1.57233231  1.49289286  1.40577472  1.24011947
   1.01941534 -0.95977079]
 [ 1.31390414  1.2378596   1.45246225  1.40974135  1.61042685  1.61970046
   1.55335026  1.47722088  1.48153353  1.42272163  1.36177552  1.24011947
   1.01941534 -1.37378184]
 [ 1.12011297  0.72446161  0.60487155  0.59012429  1.12241871  1.12402255
   1.31081154  1.34910112  1.36046848  1.38763602  1.40577472  1.45516909
   1.38187413 -1.21514209]
 [ 1.12011297  0.72446161  0.45076415  0.50816258  0.92721546  1.06570751
   1.24466461  1.32347717  1.33020222  1.3525504   1.36177552  1.31180268
   1.20064473 -0.94042409]
 [ 1.12011297  0.78150583  0.45076415  0.59012429  0.92721546  1.09486503
   1.31081154  1.40034903  1.51179979  1.66832093  1.84576681  2.17200116
   2.37863579 -0.30199583]]

In [16]:
ppn = Perceptron(eta0=0.1)
ppn.fit(X_std, y)

y_pred = ppn.predict(x_test_std)
print(y_pred)

[b'1' b'1']

In [18]:
print(ledger.iloc[[20, 21]])

   trade_id asset   dt_enter    dt_exit success  n  rtn
20       21   IVV 2020-02-03 2020-02-05       0  3  0.0
21       22   IVV 2020-02-04 2020-02-06       0  3  0.0